<h1>{{order.create_time | date:"fullDate"}}</h1>
<div>
  <table class='table table-bordered'>
    <tr>
      <th>Item</th>
      <th>Quatity</th>
      <th>Unit Price</th>
      <th>Total</th>
    </tr>
    <tbody>
      <tr *ngFor="let item of order.items">
        <td>{{item.item}}</td>
        <td>{{item.quantity}}</td>
        <td>{{item.unit_price | currency:"MYR"}}</td>
        <td>{{item.unit_price * item.quantity | currency:"MYR"}}</td>
      </tr>
      <tr>
        <td colspan="3" id='table-total-text'>Total</td>
        <td>{{ order.items | totalPipe | currency:"MYR"}}</td>
      </tr>
      <tr>
        <td colspan="3" id='table-total-text'>Tax</td>
        <td>{{ order.items | totalPipe | taxPipe:6 | currency:"MYR" }}</td>
      </tr>
      <tr>
        <td colspan="3" id='table-total-text'>Total</td>
        <td>{{ (order.items | totalPipe) + (order.items | totalPipe | taxPipe:6) | currency:"MYR" }}</td>
      </tr>
    </tbody>
  </table>
</div>